.env
terraform/.env
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfstate
terraform/*.tfstate.*
terraform/snapshots/.terraform/
terraform/snapshots/.terraform.lock.hcl
terraform/snapshots/terraform.tfstate
terraform/snapshots/terraform.tfstate.*
terraform/snapshots/*.tfstate
terraform/snapshots/*.tfstate.*
terraform/iam/.terraform/
terraform/iam/.terraform.lock.hcl
terraform/iam/terraform.tfstate
terraform/iam/terraform.tfstate.*
terraform/iam/*.tfstate
terraform/iam/*.tfstate.*
terraform/iam/*.auto.tfvars
terraform/iam/*.auto.tfvars.json
terraform/terraform.auto.tfvars
terraform/terra.agekey
terraform/manual-snapshots.auto.tfvars.json
kimai-plugin/
