.env
terraform/.env
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.auto.tfvars
terraform/terra.agekey
terraform/manual-snapshots.auto.tfvars.json
kimai-plugin/
