INSTALL_DIR=/etc/proxmox-runner-git-cache
CACHE_ROOT=/var/lib/proxmox-runner-git-cache
BLOB_CACHE_ROOT=/var/lib/proxmox-runner-git-cache/blobs
BLOB_CACHE_ALLOWED_PREFIXES=runner-cache/
BLOB_CACHE_MAX_BYTES=536870912
CONFIG_FILE=/etc/proxmox-runner-git-cache/repos.json
CONFIG_SOURCE=/root/proxmox-runner-git-cache.repos.json
LISTEN_HOST=10.254.254.254
API_PORT=18082
GIT_PORT=9418
PUBLIC_GIT_BASE_URL=git://10.254.254.254:9418
PYTHON_BIN=/usr/bin/python3
GIT_BIN=/usr/bin/git
GIT_SSH_COMMAND_VALUE=ssh -F /etc/proxmox-runner-git-cache/ssh_config
